html,body { 
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0;
}

.boxright {
    background-color: #B7DF7D;
    width: 33.3333%;
    height: 100%;
    float:left;
    position: relative;
}
.boxmiddle {
    width: 33.3333%;
    height: 100%;
    float: left;
    background-color: #6FD7B4;
}
.boxleft {
    background-color: #4A7FD2;
    width: 33.3333%;
    height: 100%;
    float: left;
}
.bottomright {
    background-color: #AE1F27;
    float: left;
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;  
    text-align: center;
}
.text {
    position: relative;
    top: 50%;
    color: white;
    font-size: 24px;
}